h1{
    color:#FF6663;
    font-family:'Courier New', Courier, monospace;
    font-size: 50px;
    text-align:center
}

*{
    background-color: #00272B;
    caret-color: #E0FF4F;
}
a{
    color: #E0FF4F;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;

}
